.admin-contact-container {

    input,
    textarea {

        padding: 0 .3rem;
        font-size: .9rem;
        border: 1px solid #ccc;
        background-color: #f0eded;
        height: 36px;
        color: #333;
        width: 270px;

    }

    input:focus {
        border: 1px solid #048a9e;
        outline: none;
        transition: all 0.2s ease-in;
        border-radius: 5px;


    }



}

.contact-container {
    min-height: 500px;
    max-width: 360px;
    margin: 25px auto;
    padding: 0 20px;


    .contact-content {
        padding: 20px;
        border-radius: 5px;
        font-size: .9rem;
        line-height: 1.6;
        font-family: 'Poppins', sans-serif;

        span {
            font-size: 30px;

        }

    }
}